<h1>Home</h1>
<table id="moustaches">
<tr>
	<th>Name</th>
</tr>
<% @moustaches.each do |m|%>
<tr>
	<td><%= m.name %></td>
	<td><%= image_tag "/../#{m.img_path}" %>
</tr>
<% end %>
</table>
<%= link_to 'New Moustache', new_moustach_path %>